{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center"><h2 data-aos="fade-down" data-aos-duration="700" id="title">Contact</h2></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3"><br><br>
            {% for message in form.name.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.email.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.subject.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.message.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.recaptcha.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
        </div>
        <div class="col-sm-4 text-center">
            <form novalidate="novalidate" method=post data-aos="flip-up" data-aos-duration="700" autocomplete="off">
                {{ form.hidden_tag() }}
                <br><br>
                {{ form.name.label }}
                <br>
                {{ form.name }}
                <br><br>
                {{ form.email.label }}
                <br>
                {{ form.email }}
                <br><br>
                {{ form.subject.label }}
                <br>
                {{ form.subject }}
                <br><br>
                {{ form.message.label }}
                <br>
                {{ form.message }}
                <br><br>
                {{ form.recaptcha }}
                <br><br>
                {{ form.submit }}
                <br><br>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_contact').addClass("active_page");
            $('#text_contact').addClass("active_page");
        });
    </script>
{% endblock scripts %}