{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center" data-aos="fade-down" data-aos-duration="700">
        <h2 id="title">Skills</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12 text-center" data-aos="fade-down" data-aos-duration="700">
    <h4>Repos:</h4>
    </div>
</div>
<div class='row'>
    <div class="col-sm-2"></div>
    {% for repo in repos[0] %}
        <div class="col-sm-2 text-center" data-aos="flip-up" data-aos-duration="700">
            <div class="card">
                <img class="card-img-top" src="/static/images/program_lang.jpg" alt="Programming Languages">
                <div class="card-body">
                    <h5 class="card-title">{{ repo.name }}</h5>
                    <span id="{{repo.name}}" data-description="{{repo.description}}" data-url="{{repo.url}}"></span>
                    <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal('{{repo.name}}');">Find out more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    {% endfor %}
    <div class="col-sm-1"></div>
</div>
<br><br>
<div class='row'>
    <div class="col-sm-2"></div>
    {% for repo in repos[1] %}
        <div class="col-sm-2 text-center" data-aos="flip-up" data-aos-duration="700">
            <div class="card">
                <img class="card-img-top" src="/static/images/program_lang.jpg" alt="Programming Languages">
                <div class="card-body">
                    <h5 class="card-title">{{ repo.name }}</h5>
                    <span id="{{repo.name}}" data-description="{{repo.description}}" data-url="{{repo.url}}"></span>
                    <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal('{{repo.name}}');">Find out more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    {% endfor %}
    <div class="col-sm-1"></div>
</div>
<br><br><br><br>
<div class="row">
    <div class="col-sm-12 text-center" data-aos="fade-down" data-aos-duration="700">
        <h4>Resume:</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 d-flex justify-content-center" data-aos="flip-up" data-aos-duration="700">
        <iframe class="resume" src="https://docs.google.com/document/d/e/2PACX-1vS0CQiw6q3F5ddYOz9R_IUk355ZNj1KosEY_CU_jYn1Ursh8Wry7T5U4b96sIg4y_ZIsQJqR9-8Du48/pub?embedded=true"></iframe>
    </div>
    <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-2"></div>
    <div div class="col-sm-8 d-flex justify-content-center" data-aos="flip-up" data-aos-duration="700">
        <a href="https://docs.google.com/document/d/e/2PACX-1vS0CQiw6q3F5ddYOz9R_IUk355ZNj1KosEY_CU_jYn1Ursh8Wry7T5U4b96sIg4y_ZIsQJqR9-8Du48/pub" id="download" class="btn btn-default" download target="_blank">Download</a>
    </div>
    <div class="col-sm-2"></div>
</div>

<!-- modal -->
<div class="modal fade" id="Modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="m_title"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3"><b>Description:</b></div>
                    <div class="col-sm-6">
                        <p id="m_info"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-1"></div>
                <a href="" target="_blank" id="url" class="btn btn-default col-sm-4">Link to Repo</a>
                <div class="col-sm-5"></div>
                <button class="btn btn-default col-sm-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/skills.js"></script>
<script>
    $(function() {
        $('#icon_skills').addClass("active_page");
        $('#text_skills').addClass("active_page");
    });
</script>
{% endblock scripts %}