{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center"><h2 data-aos="fade-down" data-aos-duration="700" id="title">Contact</h2></div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-sm-6 text-center" data-aos="fade-down" data-aos-duration="700">
            <h4>{{ msg }}</h4><br>
            <img id="check" src="/static/images/check.png" alt="check">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4" data-aos="flip-up" data-aos-duration="700">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rochester%20ny&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_contact').addClass("active_page");
            $('#text_contact').addClass("active_page");
        });
    </script>
{% endblock scripts %}