
body{
    background-color: #233237;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
    z-index: 0;
    overflow-x: hidden;
    margin-bottom: 10vh;
}

nav{
    background: #984b43;
    width: 100vw;
    position: relative;
    border-bottom:#984b43 solid 3px;
    padding: .5vw;
    opacity: .7;
    margin-bottom: 100px;
}
nav:hover{ border-bottom:whitesmoke solid 3px; }

label{ font-size: 20px; }
form{ border: #984b43 3px solid; border-radius: 10px; background-color: #984b43; opacity: .8; }
form:hover{ border: whitesmoke 3px solid; }
input{ 
    width: 300px;
    height: 30px; 
    background-color: #233237; 
    font-size: 15px;
    color: whitesmoke;
    border-radius: 7px;
    border: #233237 2px solid;
}
input:hover{ border: whitesmoke 2px solid; }
input:focus{ border: whitesmoke 2px solid; }
form textarea#message{
    width: 300px;
    height: 100px;
    background-color: #233237; 
    font-size: 15px;
    color: whitesmoke;
    border-radius: 7px;
    border: #233237 2px solid;
}
form textarea#message:hover{ border: whitesmoke 2px solid; }
form textarea#message:focus{ border: whitesmoke 2px solid; }
form input#submit{ 
    width: 100px; 
    background-color: #233237;  
    border: #233237 2px solid; 
    color: whitesmoke; 
    border-radius: 7px; 
}
form input#submit:hover{ border: whitesmoke 2px solid; }  

a{ color: whitesmoke; outline: none; }
a:hover{ color: whitesmoke; text-decoration: none; outline: none; }
.active_page{color: #233237; outline: none;}
.active_page:hover{ color: #233237; text-decoration: none; outline: none; }

h1{ color: whitesmoke; font-size: 55px; }
h2{ font-size: 40px;}
h3{ width: 25vw; color: #984b43; font-size: 10vw; }
h5{ color: whitesmoke; }

.card{ color: #233237; background-color: #984b43; border: solid 2px #233237; opacity: .8; }
.card:hover{ border: solid 2px whitesmoke; }

#logo{ background-color: #233237; border-radius: 10%; opacity: 1; width: 75px; border: 2px solid #233237; }
#logo:hover{ border: 2px solid whitesmoke; }
#name_title{ font-size: 70px; color: #984b43; }
#josh{ height: 400px; width: 600px; }
#check{ height: 300px; width: 300px; background-color: #984b43; border: solid 3px #233237; border-radius: 10px; }
#check:hover{ border: solid 3px whitesmoke; }
#title{ padding-bottom: 20px; opacity: .8;}
#para{ font-size: 20px; opacity: .8;}
#rowspace{ padding-bottom: 200px; }
#btn{ background-color: #233237;  border: #233237 2px solid; color: whitesmoke; }
#btn:hover{ border: whitesmoke 2px solid; }

.modal-content{ background-color: #984b43; opacity: .9; border: 2px solid #233237 ; }
.modal-content:hover{ border: 2px solid whitesmoke; }
.modal-body{ background-color: #233237; }
.modal-header{ border-bottom: none; }
.modal-footer{ border-top: none; }

#error{
    background-color: #984b43;
    color: whitesmoke;
    border: #233237 3px solid;
    opacity: .7;
    border-radius: 10px;
    font-size: 75px;
}
#error:hover{ border: whitesmoke 3px solid; }

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #233237;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

#clock{
    background-color: #984b43;
    color: whitesmoke;
    border: #984b43 3px solid;
    opacity: .8;
    border-radius: 10px;
}
#clock:hover{ border: whitesmoke 3px solid; }
#nav_clock{ font-size: 45px; }

#time{ font-size: 50px; }

.fa{
    padding: 20px;
    font-size: 10px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
  }
.fa:hover{ color: currentColor; border: whitesmoke 2px solid; }
.fa-linkedin{ background: #007bb5; border: #007bb5 2px solid; }
.fa-github{ background-color:#333; border: #333 2px solid; }
.fa-google{ background: #dd4b39; border: #dd4b39 2px solid; }
.fa-reddit{ background: #ff5700; border: #ff5700 2px solid; }
.fa-home{ border:none }
.fa-user{ border:none }
.fa-cogs{ border:none }
.fa-envelope{ border:none }

.flash { background-color: #984b43; padding: 10px; width: 175px; color: whitesmoke; border-radius: 5px; border: solid 2px #984b43; opacity: .8; }
.flash:hover{ border: solid 2px whitesmoke; }

.mapouter{ text-align: right; height: 400px; width: 400px;}
.gmap_canvas{ overflow: hidden; background: none!important; height: 400px; width: 400px; border-radius: 10px; border: solid 3px #233237; }
.gmap_canvas:hover{ border: solid 3px whitesmoke; } 

#music{ border-radius: 5px; border: solid 2px #233237;}
#music:hover{ border: solid 2px whitesmoke; }

#carousel{ background-color: #984b43; border: solid 3px #233237; border-radius: 10px; overflow: hidden;}
#carousel:hover{ border: solid 3px whitesmoke; }