{% extends 'base.html' %}

{% block content %}
<div class='row'>
        <div class='col-lg-6' data-aos="flip-right" data-aos-duration="1000">
            <img id='josh' class="" src="/static/images/josh.jpg" alt="Josh">
        </div>
        <div class='col-lg-6 text-center' data-aos="flip-left" data-aos-duration="1000">
            <h2 id="title">About</h2>
            <p id="para">My name is Josh Guarino. I am a Software Engineer and IT professional and would like to welcome you to my website.
                My hobbies outside of my career include running, video games and pretty much anything nerdy. I am a very accomplished
                runner, having competed at several national championships. I try to bring that same dedication, hardwork,
                and attention to detail to anything I work on. 
            </p>
        </div>
</div>
<br><br>
<div class="row">
        <div class="col-sm-1"></div>
        <div id="clock" class="col-sm-10 center-block text-center" data-aos="flip-up" data-aos-duration="700"></div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_about').addClass("active_page");
            $('#text_about').addClass("active_page");
        });
    </script>
{% endblock scripts %}