{% extends 'base.html' %}

{% block content %}
<div class='row'>
        <div class='col-lg-6' data-aos="fade-right">
            <img id='josh' class="" src="/static/images/josh.jpg" alt="Josh">
        </div>
        <div class='col-lg-6 text-center' data-aos="fade-left">
            <h2 id="title">About</h2>
            <p id="para">My name is Josh Guarino. I am a Software Enginneer and IT professional and would like welcome you to my website.
                I graduated from Fredonia State in 2011 and completed a web development training program in 2018.  I am Currently working as a Software engioneer for the 
                Rochester Institute of Technology. My hobbies outside of my career include running, video games and pretty much anything nerdy. I am a very accomplished
                runner, having competed at several national championships. I try to bring that same dedication, hardwork,
                and attention to detail to any project I work on.
            </p>
        </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_about').addClass("active_page");
            $('#text_about').addClass("active_page");
        });
    </script>
{% endblock scripts %}