{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center"><h2 data-aos="fade-down" data-aos-duration="700" id="title">Contact</h2></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-1"></div> 
        <div class="col-lg-4 text-center">
            <form novalidate="novalidate" method=post data-aos="flip-up" data-aos-duration="700">
              {{ form.hidden_tag() }}
           <br><br>
              {{ form.name.label }}
              <br>
              {{ form.name }}
           <br><br>
              {{ form.email.label }}
              <br>
              {{ form.email }}
           <br><br>
              {{ form.subject.label }}
              <br>
              {{ form.subject }}
           <br><br>
              {{ form.message.label }}
              <br>
              {{ form.message }}
           <br><br>
              {{ form.submit }}
            <br><br>
            </form>  
        </div>
        <div class="col-lg-2"><br><br>
            {% for message in form.name.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.email.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.subject.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
            <br>
            {% for message in form.message.errors %}
            <div class="flash" data-aos="fade-up" data-aos-duration="700">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="col-lg-3" data-aos="flip-up" data-aos-duration="700">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rochester%20ny&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_contact').addClass("active_page");
            $('#text_contact').addClass("active_page");
        });
    </script>
{% endblock scripts %}