{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-1"></div> 
        <div class="col-lg-4 text-center"  data-aos="fade-up" data-aos-duration="700">
            <h2 id="title">Contact</h2>
            <form method=post data-aos="flip-up" data-aos-duration="700">
              {{ form.hidden_tag() }}
           <br><br>
              {{ form.name.label }}
              <br>
              {{ form.name }}
           <br><br>
              {{ form.email.label }}
              <br>
              {{ form.email }}
           <br><br>
              {{ form.subject.label }}
              <br>
              {{ form.subject }}
           <br><br>
              {{ form.message.label }}
              <br>
              {{ form.message }}
           <br><br>
              {{ form.submit }}
              <br><br>
            </form>  
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_contact').addClass("active_page");
            $('#text_contact').addClass("active_page");
        });
    </script>
{% endblock scripts %}