{% extends 'base.html' %}

{% block content %}
    <div id="main" class="container">
        <div class="row" id="rowspace">
            <div class="col-sm-12 center-block text-center" data-aos="fade-up" data-aos-duration="700">
                <h2>Hi, I'm <span id="name">Josh Guarino</span>,</h2><br>
                <h2>I'm a Software Engineer and IT professional!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div id="clock" class="col-sm-10 center-block text-center" data-aos="flip-up" data-aos-duration="700"></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $('#icon_home').addClass("active_page");
            $('#text_home').addClass("active_page");
        });
    </script>
{% endblock scripts %}