{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="700">
        <h2 id="title">Skills</h2>
    </div>
</div>
<br>
<div class='row'>
    <div class="col-lg-2"></div>
    <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
        <div class="card">
            <img class="card-img-top" src="/static/images/programming-languages.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <p class="card-text"></p>
                <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(0);">Find out more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
        <div class="card">
            <img class="card-img-top" src="/static/images/fl.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Frameworks & Libraries</h5>
                <p class="card-text"></p>
                <a href="#" id="btn"class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(1);">Find out more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
        <div class="card">
            <img class="card-img-top" src="/static/images/package-managers.png" alt="">
            <div class="card-body">
                <h5 class="card-title">Package Managers</h5>
                <p class="card-text"></p>
                <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(2);">Find out more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<br><br>
<div class='row'>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
            <div class="card">
                <img class="card-img-top" src="/static/images/db.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Database Software</h5>
                    <p class="card-text"></p>
                    <a href="#"  id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(3);">Find out more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
            <div class="card">
                <img class="card-img-top" src="/static/images/git.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Version Control w/ GIT</h5>
                    <p class="card-text"></p>
                    <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(4);">Find out more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 text-center" data-aos="flip-up" data-aos-duration="700">
            <div class="card">
                <img class="card-img-top" src="/static/images/st.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Software Testing/QA</h5>
                    <p class="card-text"></p>
                    <a href="#" id="btn" class="btn btn-default" data-toggle="modal" data-target="#Modal" onclick="populateModal(5);">Find out more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<!-- modal for skill expand -->
<div class="modal fade" id="Modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="m_title"></h5>
            </div>
            <div class="modal-body">
                <p id="m_content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/skills.js"></script>
    <script>
        $(function() {
            $('#icon_skills').addClass("active_page");
            $('#text_skills').addClass("active_page");
        });
    </script>
{% endblock scripts %}